<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Google</title>
</head>
<body>
    
    <div class="header">
        <span>Gmail</span>
        <span>Images</span>
        <i class="fa fa-bars icon-menu"></i>
        <span><img src="../static/Foto Perfil.jpg" id="foto-perfil" alt=""></span>
    </div>
    
    <div class="main">
        <div class="centro">
            <div class="main-google">
                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="" width="250px">
                <div class="box-input">
                    <input type="text" id="input">
                    <svg focusable="false" id="lupa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                    <img id="mic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1425px-Google_mic.svg.png" alt="">
                </div><!-- PESQUISA -->
            </div><!--MAIN GOOGLE-->

            <div class="botoes">
                <input class="button" type="button" value="Google Search">
                <input class="button" type="button" value="I'm Feel Lucky">
            </div> <!--PESQUISAR-->

            <div class="offer">
                <p>Google offered in: <a href="#">Português (Brasil)</a> </p>
            </div>
        </div> <!-- CENTRO -->
    </div> <!-- MAIN -->

    <div class="footer">
        <div class="idioma">
            <p>Brazil</p>
        </div>
        <div class="others">
            <div class="esquerda">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Advertsing</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">How Search Works</a></li>
                </ul>
            </div> <!-- ESQUERDA-->

            <div class="direita">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div> <!-- DIREITA -->

        </div> <!-- OTHERS -->
    </div> <!-- FOOTER -->

</body>
</html>