<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Facebook - entre ou cadastre-se</title>
</head>
<body>
   
    <main>
        <div class="container">
            <div class="flex">
                <div class="box-facebook">
                    <div><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt=""></div>
                    <h1>O Facebook ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.</h1>
                </div><!--BOX FACEBOOK-->
                <div class="box-login">
                    <div class="box-form">
                        <input type="text" placeholder="Email ou telefone">
                        <input type="password" placeholder="Senha">
                        <button type="submit" id="logar">Entrar</button>
                        <a href="#">Esqueceu a senha?</a>
                        <button id="criar-conta">Criar nova conta</button>
                    </div><!--BOX FORM-->
                    <div>
                        <p><a href="#">Criar uma Página</a> para uma celebridade, banda ou empresa.</p>
                    </div>
                </div><!--BOX LOGIN-->
            </div><!--FLEX-->
        </div><!--CONTAINER-->
    </main>

    <footer>
        <div class="container">
            <div class="footer1">
                <ul>
                    <li>Português (Brasil)</li>
                    <li><a href="">English (US)</a></li>
                    <li><a href="">Español</a></li>
                    <li><a href="">Français (France)</a></li>
                    <li><a href="">Italiano</a></li>
                    <li><a href="">العربية</a></li>
                    <li><a href="">Deutsch</a></li>
                    <li><a href="">हिन्दी</a></li>
                    <li><a href="">中文(简体)</a></li>
                    <li><a href="">日本語</a></li>
                </ul>
            </div><!--FOOTER 1-->
            <div class="footer2">
                <ul>
                    <li><a href="">Cadastre-se</a></li>
                    <li><a href="">Entrar</a></li>
                    <li><a href="">Messenger</a></li>
                    <li><a href="">Facebook Lite</a></li>
                    <li><a href="">Watch </a></li>
                    <li><a href="">Pessoas </a></li>
                    <li><a href="">Páginas</a></li>
                    <li><a href="">Categorias de Página</a></li>
                    <li><a href="">Locais</a></li>
                    <li><a href="">Jogos</a></li>
                    <li><a href="">Locais</a></li>
                    <li><a href="">Marketplace</a></li>
                    <li><a href="">Facebook Pay</a></li>
                    <li><a href="">Grupos</a></li>
                    <li><a href="">Vagas de emprego</a></li>
                    <li><a href="">Oculus</a></li>
                    <li><a href="">Portal</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Local</a></li>
                    <li><a href="">Campanhas de arrecadação de fundos</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Central de informações de Votação</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Criar anúncio</a></li>
                    <li><a href="">Criar página</a></li>
                    <li><a href="">Carreiras</a></li>
                    <li><a href="">Privacidade</a></li>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">Escolhas para anúncios</a></li>
                    <li><a href="">Termos</a></li>
                </ul>
                <p>Facebook © 2021</p>
            </div><!--FOOTER 2-->
        </div><!--CONTAINER-->
    </footer>
   
</body>
</html>