<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Calculadora de Danos</title>
</head>
<body>

    <main>
        <!-- <div class="calcular-dano">
            <h1>Calcular dano</h1>
        </div> -->
        <div class="box">
            <div class="box-left">
                <div class="personagem">
                    <img src="../static/super-mario.png" width="150px" alt="">
                    <div class="personagem-info">
                        <div class="atributo">
                            <h2>Mario Bros</h2>
                        </div><!--ATRIBUTO-->
                        <div class="atributo">
                            <h2>Velocidade</h2>
                            <div class="barra velocidade"></div>
                        </div><!--ATRIBUTO-->
                        <div class="atributo">
                            <h2>Inteligencia</h2>
                            <div class="barra inteligencia"></div>
                        </div><!--ATRIBUTO-->
                        <div class="atributo">
                            <h2>Destreza</h2>
                            <div class="barra destreza"></div>
                        </div><!--ATRIBUTO-->
                    </div><!--PERSONAGEM INFO-->
                </div><!--PERSONAGEM-->
            </div><!--BOX LEFT-->

            <div class="box-right">
                <div class="inimigos">
                    <h1>Escolha um inimigo</h1>
                    <div class="cards">
                        <div class="card-inimigo octopus">
                            <img src="../static/lula.png" width='160px'alt="">
                            <h2>Octopus</h2>
                            <div class="atributo">
                                <h2>Velocidade</h2>
                                <div class="barra velocidade"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Inteligencia</h2>
                                <div class="barra inteligencia"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Destreza</h2>
                                <div class="barra destreza"></div>
                            </div><!--ATRIBUTO-->
                        </div><!--OCTOPUS-->

                        <div class="card-inimigo goomba">
                            <img src="../static/goomba.png" width='160px'alt="">
                            <h2>Goomba</h2>
                            <div class="atributo">
                                <h2>Velocidade</h2>
                                <div class="barra velocidade"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Inteligencia</h2>
                                <div class="barra inteligencia"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Destreza</h2>
                                <div class="barra destreza"></div>
                            </div><!--ATRIBUTO-->
                        </div><!--CARD-INIMIGO-->

                        <div class="card-inimigo koopa">
                            <img src="../static/koopa.png" width='160px'alt="">
                            <h2>Koopa</h2>
                            <div class="atributo">
                                <h2>Velocidade</h2>
                                <div class="barra velocidade"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Inteligencia</h2>
                                <div class="barra inteligencia"></div>
                            </div><!--ATRIBUTO-->
                            <div class="atributo">
                                <h2>Destreza</h2>
                                <div class="barra destreza"></div>
                            </div><!--ATRIBUTO-->
                        </div><!--CARD-INIMIGO-->
                        
                    </div><!--CARDS-->
                </div><!--INIMIGOS-->
                
                <div class="escolha"><h1>Escolha um poder</h1></div>
                <div class="poderes">
                    <div class="card-poder yoshi">
                        <img src="../static/yoshi.png" width='100px' alt="">
                        <h2>Yoshi</h2>
                        <div class="atributo">
                            <h2>Ataque</h2>
                            <div class="barra velocidade"></div>
                        </div><!--ATRIBUTO-->
                    </div><!--YOSHI-->

                    <div class="card-poder fogo">
                        <img src="../static/fogo.png" width='100px' alt="">
                        <h2>Foguinho</h2>
                        <div class="atributo">
                            <h2>Ataque</h2>
                            <div class="barra velocidade"></div>
                        </div><!--ATRIBUTO-->
                    </div><!--YOSHI-->

                    <div class="card-poder pular">
                        <img src="../static/pular.png" width='100px' alt="">
                        <h2>Pular</h2>
                        <div class="atributo">
                            <h2>Ataque</h2>
                            <div class="barra velocidade"></div>
                        </div><!--ATRIBUTO-->
                    </div><!--YOSHI-->

                </div><!--PODERES-->
            </div><!--BOX RIGHT-->
        </div><!--BOX-->
    </main>

</body>
</html>