<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    
    <div class="login">
        <div class="box-login">

            <div class="login-register">
                <h3>Login</h3>
                <h3>Register</h3>
            </div> <!-- ONDE ESTÁ ESCRITO LOGIN / REGISTER -->

            <div class="username">
                <h3>Username</h3>
                <input type="text">
            </div> <!--USERNAME-->

            <div class="password">
                <h3>Password</h3>
                <input type="password">
            </div><!--PASSWORD-->

            <div class="button">
                <button type="submit"><i class="fa fa-sign-in"></i> Login</button>
            </div>

            <div class="forgot-password">
                <p><a href="#">Forgot Password?</a></p>
            </div>

            
        </div> <!-- ABA DE LOGIN -->
        <div class="footer">
            <p>♡ Feito por <a href="https://github.com/igorprati" target="_blank">Igor Prati</a></p>
        </div>
    </div> <!-- TELA DE LOGIN -->

    

</body>
</html>